

/* Big tablets to 1200px, which is the 1140px row 768 */
@media only screen and (max-width: 1200px) {

}

/* Small tablet to big tablet 768 - 1023px */
@media only screen and (max-width:1023px) {

    .project-box {
        width: 47.6%;
        height: 800px;
    }

    h1 {
        font-size: 200%;
    }

/* Small phones to small tablets 481 - 767px */
@media only screen and (max-width:767px) {

    h1 {
        font-size: 140%;
        line-height: 40px;
    }

    .header-text {
        top: 52%;
        left: 50%;
    }

    .section-about img {
        width: 30%;
        margin: 0% 35% 3% 35%;
    }

    .contact-list {
        margin: 0 20%;
    }

    .section-about p {
        font-size: 90%;
    }

    

}

/* Small phones from 1 -480px */
@media only screen and (max-width:480px) {

    


    h1 {
        font-size: 82%;
        font-weight: 300;
    }

    .header-text {
        left: 37%;
        top:56.5%;
    }

    .project-box {
        width: 100%;
    }

    .contact-list {
        margin: 0 15%;
    }

    .section-about img {
        width: 40%;
        margin: 0% 30% 3% 30%;
    }

    .section-about p {
        font-size: 83%;
        margin: 0 10%;
        letter-spacing: 0px;
        word-spacing: 0px;
        text-align: center;
    }

    .main-nav {
        float:right;
        list-style: none;
        text-align: right;
        padding-top: 25px;
        padding-bottom: 10px;
        width: 100%;
        top: 0%;
        right: 0%;
    }

    .main-nav li {
        display: inline-block;
        margin-right: 0%;
        font-weight: 300;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        padding: 12px;
        border-bottom: 3px solid transparent;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s;
    }

    .main-nav li a:hover,
    .main-nav li a:active {
        border-bottom: 2px solid #2980b9;
    }

    .contact-list {
        margin: 0 4%;
    }

    



}}